fastapi
uvicorn
python-multipart
PyMuPDF
python-docx
spacy
scipy
sentence-transformers
pydantic[email]
python-dotenv
google-genai
pytesseract
Pillow
sqlmodel
psycopg2-binary
PyJWT
passlib[bcrypt]
requests
